{
    "parser": "babel-eslint",
    
    "extends": "airbnb",

    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jest": true
    },

    "plugins": [],

    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    },

    "rules": {
        "linebreak-style": 0,
        "class-methods-use-this": 0,

        "react/prefer-stateless-function": 0,
        "react/jsx-filename-extension": 0,
        "react/forbid-prop-types": [1, { "forbid": ["any"] }],

        "import/no-named-as-default": 0,
        "import/prefer-default-export": 0,

        "jsx-a11y/img-has-alt": 0
    }
}