@font-face {
    font-family: 'open_sanslight';
    src: url('../../fonts/OpenSans-Light-webfont.eot');
    src: url('../../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../../fonts/OpenSans-Bold-webfont.eot');
    src: url('../../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../../fonts/OpenSans-Italic-webfont.eot');
    src: url('../../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../../fonts/OpenSans-Regular-webfont.eot');
    src: url('../../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-light{
    font-family: 'open_sanslight', Arial, Tahoma, sans-serif;
    font-weight: normal;
}

.font-bold{
    font-family: 'open_sansbold', Arial, Tahoma, sans-serif;
    font-weight: normal;
}

.font-italic{
    font-family: 'open_sansitalic', Arial, Tahoma, sans-serif;
    font-weight: normal;
}

.font-regular{
    font-family: 'open_sansregular', Arial, Tahoma, sans-serif;
    font-weight: normal;
}

@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

$color1: #417fe2;
$color2: #3767B9;

html, 
body{
    margin: 0;
    padding: 0;
}

body{
    background: #222;
    font-size: 16px;
    @extend .font-regular;
}

.box {
    margin: 0 auto;
    max-width: 980px;
}

.text-center{
    text-align: center;
}

.alert{
    color: red !important;
}

.button{
    @include gradient(#417fe2, #3767B9);
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #23447A, 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;
    line-height: 1;
    padding: 9px 15px;
    text-decoration: none;
    font-size: 11px;
    text-shadow: 0 1px 0 #23447A;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover{
        @include gradient(#3767B9, #417fe2);
    }
}

header{
    height: 70px;

    img{
        margin: 15px 0 0;
    }

    .button{
        float: right;
        margin: 19px 0 0;
    }
}

section{
    background: #f1f1f1;
    padding: 50px 0 70px;

    & h2{
        @extend .font-light;
        font-size: 32px;
        margin: 0 0 45px;
        text-align: center;
        text-transform: uppercase;
    }

    .big-countdown{
        h3{
            font-weight: normal;
            font-size: 13px;
            text-align: center;
            margin: 0;
        }
        & > div{
            text-align: center;
            margin: 0 0 25px 0;

            & > span{
                @extend .font-light;
                font-size: 52px;
                text-shadow: 1px 1px 0 #ffffff;
                color: $color2;
            }
        }
        .kkc-days-text,
        .kkc-hours-text,
        .kkc-min-text,
        .kkc-sec-text{
            font-size: 28px;
            margin-right: 10px;
            color: #666;
        }
    }

    .countdown{
        font-size: 20px;

        input[type="text"]{
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 24px;
            @extend .font-bold;
            text-align: center;
            color: $color2;
        }

        .button{
            top: -4px;
            position: relative;
        }

        .kkcountdown-2{
            @extend .font-bold;
            color: $color2;
        }

        .kkc-days-text,
        .kkc-hours-text,
        .kkc-min-text,
        .kkc-sec-text{
            font-size: 16px;
            margin: 0 2px;
            color: #666;
            @extend .font-regular;
        }
    }
}

footer{
    color: #ffffff;
    padding: 20px 0 50px;
    text-align: center;
    font-size: 11px;
}